# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/
